.about .container {
  @media (max-width: 767px) {
    padding: 0;
  }
}

.about__wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 120px 0 235px 0;

  @media (min-width: $vp-768) and (max-width: 1199px) {
    display: block;
    text-align: center;
    padding: 115px 0 182px 0;
  }

  @media (max-width: 767px) {
    display: block;
    text-align: left;
    padding: 70px 0;
  }
}

.about__text-wrapper {
  max-width: 500px;
  padding: 55px 85px 0 60px;

  @media (min-width: $vp-768) and (max-width: 1199px) {
    max-width: 502px;
    margin: 0 auto;
    padding: 0;
  }

  @media (max-width: 767px) {
    margin: 0;
    padding: 0 15px;
  }
}

.about__text-wrapper h2 {
  font-family: $ff-alumni;
  font-size: 46px;
  font-weight: 600;
  letter-spacing: 2.24px;
  margin: 0;
  padding-bottom: 25px;

  @media (min-width: $vp-768) and (max-width: 1199px) {
    font-size: 42px;
    letter-spacing: 1.24px;
    padding-bottom: 12px;
  }

  @media (max-width: 767px) {
    font-size: 30px;
    letter-spacing: 1.75px;
    padding-bottom: 13px;
  }
}

.about__text-wrapper p + p {
  padding-bottom: 8px;

  @media (min-width: $vp-768) and (max-width: 1199px) {
    padding-bottom: 44px;
  }

  @media (max-width: 767px) {
    padding-bottom: 34px;
  }
}

.about__text-wrapper p {
  margin: 0;

  &:first-of-type {
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    padding-bottom: 38px;

    @media (min-width: $vp-768) and (max-width: 1199px) {
      padding-bottom: 34px;
    }

    @media (max-width: 767px) {
      padding-bottom: 24px;
    }
  }

  &:last-of-type {
    @media (min-width: 320px) and (max-width: 1199px) {
      @include visually-hidden();
    }
  }
}

.about__image-wrapper {
  display: block;
  width: 660px;

  @media (min-width: 320px) and (max-width: 1199px) {
    width: 100%;
  }

  @media (max-width: 767px) {
    padding-bottom: 40px;
  }
}

.about__image-wrapper img {
  @media (min-width: 320px) and (max-width: 1199px) {
    width: 100%;
  }
}

.about__video-wrapper {
  @media (min-width: 1200px) {
    position: absolute;
    background: $color-default-black url("../img/gym-play-desktop.jpg") no-repeat;
    background-size: contain;
    width: 364px;
    height: 228px;
    top: 54%;
    left: 437px;
    right: 0;
  }

  @media (min-width: $vp-768) and (max-width: 1199px) {
    position: absolute;
    width: 266px;
    height: 167px;
    margin: auto;
    right: 0;
    left: 0;
    top: 68.7%;
    background: $color-default-black url("../img/gym-play-tablet.jpg") no-repeat;
  }

  @media (max-width: 767px) {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 52.3%;
    background: $color-default-black url("../img/gym-play-desktop.jpg") no-repeat;
    background-size: cover;
  }
}

.about__video {
  width: 100%;
  height: 100%;

  @media (max-width: 767px) {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}

.about__video iframe {
  width: 100%;
  height: 100%;
}

.about__video-button {
  position: absolute;
  display: block;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100px;
  height: 100px;
  background: transparent url("../img/sprite/play.svg") no-repeat;
  border: none;
  cursor: pointer;

  &:disabled {
    background: transparent url("../img/sprite/play-hover.svg") no-repeat;
    opacity: 0.4;
    pointer-events: none;
  }

  @include hover-focus {
    background: transparent url("../img/sprite/play-hover.svg") no-repeat;
  }

  @include active {
    background: transparent url("../img/sprite/play-hover.svg") no-repeat;
  }

  @media (min-width: 320px) and (max-width: 1199px) {
    width: 73px;
    height: 73px;
    background-size: 73px 73px;
  }
}
