.contacts {
  background-color: $color-default-black;
}

.contacts .container {
 // max-width: 100%;
  //margin: 0;
  //padding: 0;
}

.contacts__wrapper {
  display: flex;
  //width: 100%;
}

.contacts__free-wrapper {
  width: 50%;
  padding: 56px 170px 70px 103px;
  color: $color-default-white;
  //background-color: #102654;
}

.contacts__free-wrapper h2 {
  font-family: $ff-alumni;
  font-size: 50px;
  font-weight: 800;
  line-height: 1;
  letter-spacing: 1.62px;
  margin: 0;
  padding-bottom: 24px;
}

.contacts__free-wrapper .btn {
  display: block;
}

.contacts__text-wrapper {
  width: 50%;
  background-color: $color-default-white;
  border-top: 1px solid #74819c;
}
