.footer {
  display: flex;
  justify-content: space-between;
  padding: 41px 0 40px 0;

  @media (min-width: $vp-768) and (max-width: 1199px) {
    padding: 44px 0;
  }

  @media (max-width: 767px) {
    display: block;
    gap: 25px;
    column-count: 2;
    padding: 45px 0 50px 0;
  }
}

.footer__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 22px;
  margin-top: 1px;

  @media (min-width: $vp-768) and (max-width: 1199px) {
    gap: 12px;
  }

  @media (max-width: 767px) {
    display: block;
    row-gap: 30px;
    column-gap: 71px;
  }
}

.footer__list li {
  @media (max-width: 767px) {
    min-width: 90px;
    width: 100%;
    margin-bottom: 16px;
  }
}

.footer__link {
  font-size: 14px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: 150%;
  color: $color-default-white;
  padding: 5px 10px;

  &:disabled {
    opacity: 0.4;
    pointer-events: none;
  }

  &:hover {
    border-bottom: 1px solid $color-default-white;
  }

  &:focus {
    outline: 1px solid $color-default-white;
  }

  &:active {
    border-bottom: none;
  }

  @media (min-width: $vp-768) and (max-width: 1199px) {
    font-size: 14px;
  }

  @media screen and (max-width: 767px) {
    font-size: 16px;
    padding: 0;
  }
}

.footer__logo {
  margin-right: 8px;
  padding-top: 10px;

  @media (min-width: $vp-768) and (max-width: 1199px) {
    width: 82px;
    margin-right: 13px;
    padding-top: 4px;
  }

  @media (max-width: 767px) {
    width: 68px;
    margin-bottom: 22px;
    padding-top: 6px;
  }
}

.footer__menu {
  @media (max-width: 767px) {
    padding-bottom: 34px;
  }
}

.footer__social {
  justify-content: start;
  column-span: all;
  min-width: 98px;
}
