.hero {
  background: conic-gradient(from 145deg at  16% 39%, #003d85 32deg, #b80027 300deg, #003d85 360deg);
  margin-top: -63px;
  padding: 63px 0 51px 0;

  @media (min-width: $vp-768) and (max-width: 1199px) {
    padding-bottom: 83px;
  }

  @media (max-width: 767px) {
    width: 100%;
    padding-bottom: 78px;
  }
}

.hero__wrapper {
  display: flex;
  position: relative;
}

.hero__text-wrapper {
  text-align: end;
  padding: 105px 64px 0 147px;

  @media (min-width: $vp-768) and (max-width: 1199px) {
    padding: 78px 33px 0 135px;
  }

  @media (max-width: 767px) {
    width: 100%;
    padding: 74px 0 0 0;
  }
}

.hero__text-wrapper h1 {
  font-family: $ff-alumni;
  color: $color-default-white;
  font-size: 96px;
  font-weight: 800;
  line-height: 110px;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  text-align: right;
  margin: 0;
  padding-top: 16px;

  @media (min-width: 320px) and (max-width: 1199px) {
    font-size: 78px;
    letter-spacing: 0;
    line-height: 86px;
    text-transform: none;
    padding-top: 9px;
  }

  @media (max-width: 767px) {
    padding-top: 15px;
    padding-right: 2px;
  }
}

.hero__text-wrapper p {
  position: absolute;
  top: 294px;
  left: 19px;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  color: $color-default-white;
  text-align: right;
  margin: 0;

  @media (min-width: $vp-768) and (max-width: 1199px) {
    top: 208px;
    left: 0;
  }

  @media (max-width: 767px) {
    top: 196px;
    left: 0;
  }
}

.hero__text-wrapper span {
  align-items: flex-end;
  font-family: $ff-alumni;
  color: $color-default-white;
  font-size: 42px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  padding-right: 52px;

  @media (min-width: $vp-768) and (max-width: 1199px) {
    font-size: 28px;
    letter-spacing: 1.8px;
    padding-right: 3px;
  }

  @media (max-width: 767px) {
    font-size: 24px;
    letter-spacing: 1.2px;
    padding-right: 3px;
  }
}

.hero__text-wrapper .btn {
  margin-top: 48px;

  @media (min-width: $vp-768) and (max-width: 1199px) {
    margin-top: 36px;
  }

  @media (max-width: 767px) {
    width: 100%;
    margin-top: 24px;
  }
}

.hero__image-wrapper {
  margin-top: -11px;

  @media (min-width: $vp-768) and (max-width: 1199px) {
    margin-top: 22px;
  }

  @media (max-width: 767px) {
    @include visually-hidden();
  }
}
