.hero {
  background: conic-gradient(from 145deg at  16% 39%, #003d85 32deg, #b80027 300deg, #003d85 360deg);
  padding: 25px 0 51px 0;

  @media (min-width: $vp-768) and (max-width: 1199px) {
    padding-bottom: 81px;
  }

  @media (max-width: 767px) {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 78px;
  }
}

.hero__wrapper {
  display: flex;
  position: relative;
  margin-top: -13px;

  @media (min-width: $vp-768) and (max-width: 1199px) {
    margin-top: 0;
  }
}

.hero__text-wrapper {
  text-align: end;
  padding: 105px 64px 0 20px;

  @media (min-width: $vp-768) and (max-width: 1199px) {
    padding: 68px 30px 0 0;
  }

  @media (max-width: 767px) {
    width: 100%;
    padding: 76px 0 0 0;
  }
}

.hero__text-conteiner {
  display: flex;
  align-items: flex-end;
}

.hero__text-conteiner h1 {
  font-family: $ff-alumni;
  color: $color-default-white;
  font-size: 96px;
  font-weight: 800;
  line-height: 110px;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  text-align: right;
  margin: 0;
  padding-top: 16px;

  @media (min-width: 320px) and (max-width: 1199px) {
    font-size: 78px;
    letter-spacing: 0;
    line-height: 86px;
    text-transform: none;
    padding-top: 9px;
    padding-right: 3px;
  }

  @media (max-width: 767px) {
    padding-top: 15px;
    padding-right: 2px;
  }
}

.hero__text-conteiner ul {
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  color: $color-default-white;
  text-align: right;
  margin: 0;
  margin-bottom: 36px;
  margin-right: 15px;
  padding: 0;
  list-style: none;

  @media (min-width: $vp-768) and (max-width: 1199px) {
    min-width: 113px;
    margin-bottom: 21px;
    margin-right: 21px;
  }

  @media (max-width: 767px) {
    width: 113px;
    margin-bottom: 31px;
    margin-right: -12px;
  }
}

.hero__text-wrapper span {
  align-items: flex-end;
  font-family: $ff-alumni;
  color: $color-default-white;
  font-size: 42px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  padding-right: 52px;

  @media (min-width: $vp-768) and (max-width: 1199px) {
    font-size: 28px;
    letter-spacing: 1.8px;
    padding-right: 5px;
  }

  @media (max-width: 767px) {
    font-size: 24px;
    letter-spacing: 1.2px;
    padding-right: 3px;
  }
}

.hero__text-wrapper .btn {
  width: 234px;
  margin-top: 48px;

  @media (min-width: $vp-768) and (max-width: 1199px) {
    width: 183px;
    margin-top: 36px;
  }

  @media (max-width: 767px) {
    width: 100%;
    margin-top: 24px;
  }
}

.hero__image-wrapper {
  margin-top: -11px;

  @media (min-width: $vp-768) and (max-width: 1365px) {
    min-width: 324px;
    margin-top: 12px;
  }

  @media (max-width: 767px) {
    @include visually-hidden();
  }
}
