.navigation {
  width: 1160px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (min-width: $vp-320) and (max-width: 1365px) {
    width: 100%;
  }
}

.navigation a {
  display: block;
  margin-left: -8px;

  @include hover-focus {
    opacity: 0.8;
  }

  @include focus {
    outline: 1px solid $color-default-white;
    border-radius: 0;
    opacity: 1;
  }
}

.navigation__logo {
  padding: 14px 8px;

  @media (min-width: $vp-768) and (max-width: 1199px) {
    padding-top: 16px;
  }

  @media (max-width: 767px) {
    padding-top: 6px;
  }
}

.navigation__logo img {
  @media (min-width: $vp-768) and (max-width: 1199px) {
    width: 82px;
    height: 15px;
  }

  @media (max-width: 767px) {
    width: 68px;
  }
}

a.navigation__phone {
  display: inline-block;
  font-family: $ff-alumni;
  color: $color-default-white;
  font-size: 26px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0.78px;
  padding: 8px;
  margin-right: -8px;
  margin-left: 10px;

  @media (min-width: $vp-768) and (max-width: 1199px) {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.48px;
    padding-top: 12px;
  }

  @media (max-width: 767px) {
    font-size: 19px;
    padding-top: 4px;
  }
}

.navigation__phone-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
