.questions {
  padding: 140px 0 35px 0;
  background-color: #f8f9fc;

  @media (min-width: $vp-768) and (max-width: 1199px) {
    padding: 115px 0 0 0;
  }

  @media screen and (max-width: 767px) {
    padding: 77px 0 0 0;
  }
}

.questions h2 {
  font-family: $ff-alumni;
  font-size: 54px;
  font-weight: 600;
  letter-spacing: 1.6px;
  margin: 0;
  padding-bottom: 60px;

  @media (min-width: $vp-768) and (max-width: 1199px) {
    text-align: center;
    font-size: 42px;
    letter-spacing: 1.26px;
    padding-bottom: 53px;
  }

  @media (max-width: 767px) {
    text-align: center;
    font-size: 30px;
    letter-spacing: 1.75px;
    padding-bottom: 37px;
  }
}

.questions__wrapper .tabs__control {
  @include hover-focus {
    color: $color-default-black;
    border-color: $color-default-black;
    background-color: transparent;
  }

  @include focus {
    outline: none;
  }
}

.questions__wrapper .is-active {
  @include hover-focus {
    color: $color-default-white;
  }
}
