.reviews {
  text-align: center;
  padding: 142px 0 119px 0;

  @media (min-width: $vp-768) and (max-width: 1199px) {
    padding: 105px 0 100px 0;
  }

  @media screen and (max-width: 767px) {
    padding: 46px 0 70px 0;
  }
}

.reviews__wrapper {
  width: 560px;
  position: relative;
  margin: 0 auto;

  @media screen and (max-width: 1199px) {
    width: 566px;
  }

  @media screen and (max-width: 767px) {
    width: auto;
    margin: 0 32px;
  }
}

.reviews h2 {
  font-family: $ff-alumni;
  font-size: 54px;
  font-weight: 600;
  letter-spacing: 1.6px;
  margin: 0;
  padding-bottom: 57px;

  @media screen and (max-width: 1199px) {
    font-size: 42px;
    letter-spacing: 1.26px;
    padding-bottom: 53px;
  }

  @media screen and (max-width: 767px) {
    font-size: 32px;
    letter-spacing: 0.96px;
    padding-bottom: 49px;
  }
}

.reviews__slide {
  max-width: 560px;
  padding: 57px 61px;
  color: $color-default-white;
  background-color: #1c3374;

  @media screen and (max-width: 1166px) {
    height: max-content;
    padding: 57px 50px 56px 71px;
  }

  @media screen and (max-width: 767px) {
    padding: 40px 25px 33px 25px;
  }
}

.reviews__description {
  display: grid;
  grid-template-columns: 80px auto;
  grid-template-rows: repeat(2, auto);
  column-gap: 28px;
  row-gap: 15px;

  @media screen and (max-width: 767px) {
    align-items: center;
    column-gap: 19px;
    row-gap: 15px;
  }
}

.reviews__image-wrapper {
  grid-area: 1 / 1 / 3 / 2;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  margin-top: 5px;

  @media screen and (max-width: 767px) {
    grid-area: 1 / 1 / 2 / 2;
    width: 68px;
    height: 68px;
    margin-top: 0;
    margin-left: 15px;
  }
}

.reviews__image-wrapper img {
  width: 80px;
  height: 80px;
  transform: scale(1.02);

  @media screen and (max-width: 767px) {
    width: 68px;
    height: 68px;
  }
}

.reviews__description h3 {
  text-align: left;
  font-size: 20px;
  font-weight: 700;
  margin: 0;

  @media screen and (max-width: 767px) {
    grid-area: 1 / 2 / 2 / 3;
  }
}

.reviews__description p {
  text-align: left;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  margin: 0;

  @media screen and (max-width: 767px) {
    grid-area: 2 / 1 / 3 / 3;
    text-align: center;
  }
}

.reviews__wrapper .swiper-button-prev {
  @media (min-width: $vp-768) and (max-width: 1199px) {
    left: -77px;
  }

  @media screen and (max-width: 767px) {
    left: -51px;
  }
}

.reviews__wrapper .swiper-button-next {
  @media (min-width: $vp-768) and (max-width: 1199px) {
    right: -75px;
  }

  @media screen and (max-width: 767px) {
    right: -45px;
  }
}

.reviews__wrapper .swiper-wrapper {
  column-gap: 0;
}
