.trainers {
  padding-bottom: 105px;
}

.trainers__wrapper {
  position: relative;

  @media screen and (max-width: 1199px) {
    padding: 0 36px;
  }
}

.trainers h2 {
  font-family: $ff-alumni;
  font-size: 46px;
  font-weight: 600;
  letter-spacing: 2.24px;
  margin: 0;
  padding-bottom: 45px;

  @media screen and (max-width: 1199px) {
    text-align: center;
    font-size: 40px;
    letter-spacing: 1.26px;
    padding-bottom: 31px;
  }

  @media screen and (max-width: 767px) {
    font-size: 32px;
    letter-spacing: 0.96px;
    padding-bottom: 42px;
  }
}

.trainers__description-wrapper {
  display: none;
  position: absolute;
  width: 260px;
  height: 100%;
  padding: 81px 57px 57px 57px;
  color: $color-default-white;
  background-color: rgba(16, 38, 84, 0.89);

  @media screen and (max-width: 1199px) {
    width: 268px;
    height: 100%;
  }

  @media screen and (max-width: 767px) {
    padding: 48px 34px;
  }
}

.trainers__description-wrapper ul {
  margin: 0;
  padding: 0;
  margin-top: 35px;
}

.trainers__description-wrapper span {
  font-size: 16px;
  font-weight: 400;
  color: #b6bdcc;
}

.trainers__description-wrapper li {
  text-align: left;
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 20px;

  &::marker {
    font-size: 1.1rem;
  }
}

.trainers__slide h3 {
  position: absolute;
  bottom: 0;
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
}

.trainers__slide:hover h3 {
  top: 40px;
  z-index: 10;
}

.trainers__slide:hover .trainers__description-wrapper {
  display: block;
}

.trainers__slide img {
  @media screen and (max-width: 1199px) {
    width: 268px;
    object-fit: cover;
  }

  @media screen and (max-width: 767px) {
    width: 226px;
    height: 274px;
  }
}
